.container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  gap: 20px;
  box-sizing: border-box;
}
.food img {
  width: 75%;
}
.food {
  border: 5px solid rgb(119, 45, 45);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px 15px;
}
.food h2 {
  font-size: 50px;
  color: red;
  font-weight: bold;
  font-style: italic;
}
.food h4 {
  font-size: 15px;
  color: blue;
  font-weight: 400;
}
.food button {
  background-color: rgb(38, 36, 39);
  font-size: large;
  color: rgb(209, 204, 204);
  font-weight: 700;
  border-radius: 5px;
}
.food p {
  font-size: small;
  color: rgb(11, 11, 11);
}
/* smaller devices  */
@media screen and (max-width: 576px) {
  .food {
    background-color: orange;
  }
}
/* medium devices  */
@media screen and (min-width: 577px) and (max-width: 992px) {
  .food {
    background-color: blueviolet;
  }
}
@media screen and (min-width: 995px) and (max-width: 1000px) {
  .food {
    background-color: rgb(121, 51, 51);
  }
}
